.header .imgBlock {
    position: relative;
    margin: auto;
    width: 370px;
    height: 609px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a09a9e;
    color: #faf9f9;
}

.header .imgBlock .headerTop {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header .imgBlock .headerTop h1 {
    font-size: 25px;
    text-align: center;
    font-family: Helvetica;
    font-style: italic;
    text-transform: uppercase;
}

.header .imgBlock .headerTop p {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.header .imgBlock img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.header .imgBlock a {
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    right: 10px;
    outline: none;
}

.header .imgBlock a img {
    width: 30px;
    height: 30px;
}

.header .headerBottom {
    position: absolute;
    bottom: 10px;
}

.header .headerBottom p {
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

@media only screen and (max-width: 481px) {
    .header .imgBlock {
        width: 100%;
    }

    .header .imgBlock .headerTop h1 {
        font-size: 5vw;
    }

    .header .imgBlock .headerTop p {
        font-size: 4.2vw;
    }

    .header .imgBlock a {
        font-size: 13px;
    }

    .header .imgBlock a img {
        width: 25px;
        height: 25px;
    }

    .header .headerBottom p {
        font-size: 4.2vw;
    }
}